.home {
  position: relative;

  width: 100%;
  max-width: 390px;
  min-height: 100vh;

  margin: 0 auto;
  overflow: hidden;

  /* 실제 배경 이미지 사용 */
  background-color: #06533F;
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* =====================
   음식 이미지
===================== */

.food {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.food-top {
  width: 67%;
  top: 0px;
  left: 0px;
}

.food-bottom {
  width: 67%;
  right: 0px;
  bottom: 0px;
}


/* =====================
   중앙 영역
===================== */

.home-content {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 32px;
}


/* =====================
   실제 로고 이미지
===================== */

.home-logo {
  width: 217.76px;
  height: 172.96px;
  display: block;
}


/* =====================
   GAME START
===================== */

.start-button {
  width: 200px;
  height: 50px;

  border: none;
  border-radius: 5px;
  font-family: "BBH Hegarty", sans-serif;
  background: #d7ff00;

  color: #000;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 3.5%;
  cursor: pointer;
}


/* =====================
   Ranking
===================== */

.ranking-button {
  position: absolute;
  width: 104.77;
  height: 33.68px;
  left: 25px;
  top: 770px;
  z-index: 3;
  border-radius: 35.37px;

  padding: 8.84px 11.89px 8.84px 11.89px;
  gap: 8.84px;
  border: none;

  background: #000;
  color: #d7ff00;

  font-size: 16.64px;
  font-weight: 400;
  line-height: 15.94px;
  letter-spacing: 3.5%;
  font-family: "BBH Hegarty", sans-serif;
  cursor: pointer;
}


/* =====================
   도움말 ?
===================== */

.help-button {
  position: absolute;
  top: 70px;
  left: 336.4px;
  z-index: 3;

  width: 33.6px;
  height: 33.6px;

  border: none;
  border-radius: 50%;

  background: #000;
  color: #fff;

  font-size: 16.64px;
  line-height: 15.92px;
  letter-spacing: 3.5%;
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  cursor: pointer;
}