
.result-page {
  position: relative;

  width: 390px;
  height: 844px;

  margin: 0 auto;

  overflow: hidden;

  background-color: #06533f;
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* =========================
   상단
========================= */

.result-header {
  position: relative;

  z-index: 30;

  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.back-button {
  position: absolute;
  left: 16px;
  top: 6px;
  width: 6px;
  height: 12px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0;
  border: none;
  background: transparent;

  cursor: pointer;
}

.back-icon {
  width: 6px;
  height: 12px;

  object-fit: contain;
  display: block;
}

.result-title {
font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 140%;
color: #ffffff;
letter-spacing: -0.01em;
}


/* =========================
   장식용 음식 공통
========================= */

.result-food {
  position: absolute;

  display: block;

  object-fit: contain;

  pointer-events: none;
  user-select: none;

  z-index: 3;
}


/* =========================
   오른쪽 위 피자
========================= */

.result-pizza {
  width: 67%;

  top: 90px;
  right: -180px;
}


/* =========================
   왼쪽 교자
========================= */

.result-gyoja {
  width: 55%;

  top: 465px;
  left: -65px;
  transform: rotate(20deg)
}


/* =========================
   아래 치킨
========================= */

.result-chicken {
  width: 70%;

  left: 120px;
  bottom: 85px;
}


/* =========================
   점수 접시
========================= */

.score-area {
  position: absolute;

  top: 215px;
  left: 50%;

  transform: translateX(-50%);

  z-index: 10;
}

.score-plate {
  position: relative;

  width: 250.37px;
  height: 250.37px;
}

.score-plate-image {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: contain;
}


/* =========================
   점수 텍스트
========================= */
.score-text {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-56.5%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  color: #000000;
}

.score-label {
  margin: 0;

  font-family: "BBH Hegarty", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;

  color: #0f4b37;
}

.score-number {
  margin: 8px 0 0;

  font-family: "BBH Hegarty", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 1;

  color: #000000;
}

/* =========================
   순위 버튼
========================= */

.ranking-result-button {
  position: absolute;

  left: 50%;
  bottom: 28px;

  transform: translateX(-50%);

  z-index: 30;

  width: 285px;
  height: 48px;

  border: none;
  border-radius: 5px;

  background-color: #000000;

  color: #ffffff;

  font-size: 14px;
  font-weight: 700;

  cursor: pointer;
}